:root {
  --primary-color: #f8f8ff;
  --secondary-color: #121212;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair);
}

p {
  font-family: var(--font-roboto);
}

a {
  text-decoration: none;
  color: inherit;
  font-family: var(--font-roboto);
}
